<h3>Informacion del Empleado</h3>
<div class="list-group">
    <div class="list-group-item">
        <span class="badge">{{employee.name}}</span>
        Nombre:
    </div>
    <div class="list-group-item">
        <span class="badge">{{employee.age}}</span>
        Edad:
    </div>
    <div class="list-group-item">
        <span class="badge">{{employee.charge}}</span>
        Cargo:
    </div>
    <div class="list-group-item">
        <span class="badge">{{employee.state}}</span>
        Estado:
    </div>
</div>
<button class="btn btn-primary" (click)="onEdit()">Editar</button>